<header>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		<div>
			<a href="https://basics-in-java.blogspot.com/" class="navbar-brand">Todoos</a>
		</div>
		<ul class="navbar-nav">
			<li>
				<a routerLink="/welcome/sudeep" class="nav-link" *ngIf="hardCodedAuthenticationService.isUserLoggedIn()">Home</a>
			</li>
			<li>
				<a routerLink="/todos" class="nav-link" *ngIf="hardCodedAuthenticationService.isUserLoggedIn()">Todos</a>
			</li>
		</ul>


    		<ul class="navbar-nav navbar-collapse justify-content-end">
			<li>
				<a routerLink="/login" class="nav-link" *ngIf="!hardCodedAuthenticationService.isUserLoggedIn()">Login</a>
			</li>
			<li>
				<a routerLink="/logout" class="nav-link" *ngIf="hardCodedAuthenticationService.isUserLoggedIn()">Logout</a>
			</li>
		</ul>

	</nav>

</header>
